/* -------------------- */
/* GLOBAL RESET         */
/* -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(260deg,
        hsl(12deg 60% 52%) 0%,
        hsl(4deg 57% 53%) 8%,
        hsl(355deg 54% 52%) 17%,
        hsl(348deg 54% 49%) 25%,
        hsl(341deg 56% 46%) 33%,
        hsl(334deg 57% 43%) 42%,
        hsl(327deg 55% 41%) 50%,
        hsl(318deg 52% 38%) 58%,
        hsl(307deg 46% 35%) 67%,
        hsl(291deg 43% 34%) 75%,
        hsl(274deg 42% 35%) 83%,
        hsl(256deg 41% 35%) 92%,
        hsl(235deg 45% 34%) 100%);
}

/* -------------------- */
/* HEADER               */
/* -------------------- */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: black;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

header a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px 10px;
}

header a:hover {
    color: rgb(208, 255, 0);
}

/* -------------------- */
/* MAIN SECTION          */
/* -------------------- */
.a {
    display: flex;
    flex-wrap: wrap;
    justify-content: cen
}